.board {
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 100%;
  aspect-ratio: 1;
  gap: var(--sp2);
  border: solid var(--sp2) var(--boardBorder);
  background: var(--boardBorder);
  justify-items: center;
  align-items: center;
}
